body {
  background-color: #000000;
  color:white;
  text-align: center;
}

a {
  text-decoration: none;
  color: yellow;
}

a:hover {
  color: green;
}

a:active {
  color: red;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th {
  font-size: 1.1em;
  color: yellow;
}
